.foodItem {
    margin-top: 5px;
    width: 400px;
    height: 100px;
    border: 1px solid #61dafb;
}

.foodImg {
    margin-top: 7px;
    vertical-align: middle;
    width: 84px;
    height: 84px;
}

.displayLabel {
    vertical-align: middle;
    margin-left: 20px;
}

.foodItemButtons {
    float: right;
    margin-top: 35px;
    margin-right: 5px;
}